
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOKKA | {% block title %}{% endblock title %}</title>

    <meta content="Online English and Spanish Academy" name="description">
    <meta content="MOKKA" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/cropped-Logo_Mokkaonline-32x32.png' %}">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-32x32.png' %}" rel="icon" sizes="32x32">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-192x192.png' %}" rel="icon" sizes="192x192">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-180x180.png' %}" rel="apple-touch-icon">
    <meta name="msapplication-TileImage" content="{% static 'img/cropped-Logo_Mokkaonline-270x270.png' %}">

    <!-- Quill css -->
    {% comment %} <link href="{% static 'vendor/css/quill.bubble.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/css/quill.core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/css/quill.snow.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

    <!-- App css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
    <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <!-- third party css -->
    {% comment %} <link href="{% static 'vendor/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
    {% comment %} <link href="{% static 'vendor/css/semantic.min.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
    <!-- third party css end -->


    <!-- extracss -->
    {% block extracss %}
    {% endblock extracss %}
    

</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        {% include 'leftsidebar.html' %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}
                <!-- end Topbar -->
                
                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <!-- start page title -->
                            <div class="page-title-box">
                                <h4 class="page-title">{% block page_title %}{% endblock page_title %}</h4>
                            </div>
                            <!-- end page title -->
                        </div>
                    </div>

                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <!-- Footer Start -->           
            {% include 'footer.html' %}
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- bundle -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    {% comment %} <script src="{% static 'vendor/js/quill.min.js' %}"></script> {% endcomment %}

    <!-- third party js -->
    {% comment %} <script src="{% static 'vendor/js/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery-jvectormap-world-mill-en.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'vendor/js/semantic.min.js' %}"></script> {% endcomment %}
    <!-- third party js ends -->

    <!-- custom js -->
    {% comment %} <script src="{% static 'js/semantic.js' %}"></script> {% endcomment %}
    <!-- custom js ends -->

    {% block extrascripts %}
    {% endblock extrascripts %}

</body>
</html>