
<div class="navbar-custom">
    <ul class="list-unstyled topbar-menu float-end mb-0">        
        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                {% load profile_tags %}
                {% get_profile request as profile %}
                <span class="account-user-avatar"> 
                    {% if not request.user.is_admin %}
                        <img src="{{profile.avatar.url}}" alt="user-image" class="rounded-circle">
                    {% else %}
                        <img src="{{ MEDIA_URL }}media/avatar.png " alt="user-image" class="rounded-circle">
                    {% endif %}
                </span>
                <span>
                    <span class="account-user-name">
                        {{profile.user.full_name}}
                    </span>
                    {% if profile.user.role == 'teacher' %}
                        <span class="account-position">{{profile.category | capfirst}} Teacher</span>
                    {% elif profile.user.role == 'student' %}
                        <span class="account-position">Student</span>
                    {% elif request.user.is_admin %}
                        <span class="account-position">Admin</span>
                    {% endif %}
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                <!-- item-->
                <div class=" dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                {% if not request.user.is_admin %}
                <!-- item-->
                <a href="{% url 'profiles:profile' %}" class="dropdown-item notify-item">
                    <i class="mdi mdi-account-circle me-1"></i>
                    <span>My Profile</span>
                </a>
                {% endif %}

                <!-- item-->
                <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout me-1"></i>
                    <span>Logout</span>
                </a>
            </div>
        </li>
    </ul>
    <button class="button-menu-mobile open-left">
        <i class="mdi mdi-menu"></i>
    </button>    
</div>