
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOKKA | {% block title %}{% endblock title %}</title>

    <meta content="Online English and Spanish Academy" name="description">
    <meta content="MOKKA" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/cropped-Logo_Mokkaonline-32x32.png' %}">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-32x32.png' %}" rel="icon" sizes="32x32">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-192x192.png' %}" rel="icon" sizes="192x192">
    <link href="{% static 'img/cropped-Logo_Mokkaonline-180x180.png' %}" rel="apple-touch-icon">
    <meta name="msapplication-TileImage" content="{% static 'img/cropped-Logo_Mokkaonline-270x270.png' %}">

    <!-- App css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
    <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <!-- extracss -->
    {% block extracss %}
    {% endblock extracss %}
    

</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        {% include 'leftsidebar.html' %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}
                <!-- end Topbar -->
                
                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <!-- start page title -->
                            <div class="page-title-box">
                                <h4 class="page-title">{% block page_title %}{% endblock page_title %}</h4>
                            </div>
                            <!-- end page title -->
                        </div>
                    </div>

                     <!-- Show purchase reminder MODAL -->
                     {% if request.user.role == 'student' %}
                        {% load balance_tags %}
                        {% get_balance_percent request.user.id as percent %}
                        {{ percent|json_script:"user_booking_percent" }}
                     {% endif %}
                    <div class="modal fade" id="purchase-reminder-modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <div class="modal-header py-3 px-4 border-bottom-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body px-4 pb-4 pt-0">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            Your lessons are running out, go to support and sales for more.
                                        </div>
                                        {% comment %} <a href="www.linkedin.com/company/mokka-online" target="_blank" rel="noopener noreferrer" id="lesson-link">
                                            <button type="submit" class="btn btn-success">Support and Sales</button>
                                        </a>  {% endcomment %}
                                        <a href="{% url 'lessons:support-and-sales' %}">
                                            <button type="submit" class="btn btn-success">Support and Sales</button>
                                        </a> 
                                    </div>
                                </div>
                            </div> <!-- end modal-content-->
                        </div> <!-- end modal dialog-->
                    </div>
                    <!-- end modal-->


                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <!-- Footer Start -->           
            {% include 'footer.html' %}
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- bundle -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    {% if request.user.role == 'student' %}
        <script src="{% static 'js/purchase_reminder.js' %}"></script>
    {% endif %}

    {% block extrascripts %}
    {% endblock extrascripts %}

</body>
</html>