{% extends 'base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

<!-- extracss -->
{% block extracss %}

<link href="{% static 'vendor/css/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'vendor/css/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css">
<!-- third party css end -->

{% endblock extracss %}
{% block page_title %}

<h4 class="page-title">
    Bookings
</h4>

{% endblock page_title %}
{% block content %}

<!-- Finish Task MODAL -->
<div class="modal fade" id="finish-task-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-3 px-4 border-bottom-0">
                <h5 class="modal-title" id="modal-title">Finish booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 pb-4 pt-0">
                <div class="col-12">
                    <div class="mb-3">
                        Are you sure you want to finish this booking?
                    </div>
                </div>
                <form id="finish-form">
                {% csrf_token %}
                    <div id="spinner-box" class="text-center"></div>
                    <div id="alert-box"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-success" id="btn-finish-event">Yes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
<!-- end modal-->

<!-- Finish Task MODAL -->
<div class="modal fade" id="link-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-3 px-4 border-bottom-0">
                <h5 class="modal-title">Booking link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 pb-4 pt-0">
                <form id="link-form">  
                {% csrf_token %}
                <div class="col-12">
                        <div class="mb-3">
                            <input type="text" class="form-control" autocomplete="off" name="link" id="new-link">
                            <div class="invalid-feedback" id="invalid-link">Enter a valid URL</div>
                        </div>

                </div>
                <div id="link-spinner-box" class="text-center"></div>
                <div id="link-alert-box"></div>
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-success" id="btn-link-event">Save</button>
                    </div>
                </div>
                </form>
            </div>
        </div> <!-- end modal-content-->
    </div> <!-- end modal dialog-->
</div>
<!-- end modal-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                {% load add_value_tags %}
                    <table class="table table-centered table-striped dt-responsive nowrap w-100"
                        id="tasks-datatable">
                        <thead>
                            <tr>
                                <th style="width: 20px;">
                                </th>
                                <th>Lesson</th>
                                <th>Lesson Link</th>
                                <th>Student</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th style="width: 75px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in task_qs %}
                                <tr>
                                    <td>
                                    </td>
                                    <td data-student_id={{obj.student.id}} class='lesson_number'>


                                    </td>
                                    <td>
                                    
                                        {% if obj.status %}
                                            {% if obj.status == 'active' %}
                                                {% if obj.lesson_link %}
                                                    <a href="{{obj.lesson_link}}" target="_blank" rel="noopener noreferrer"> {{obj.lesson_link}} </a>
                                                {% else %}
                                                    Please set a link for this lesson
                                                {% endif %}
                                            {% elif obj.status == 'finished' %}
                                                {{obj.lesson_link}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{obj.student.full_name}}
                                    </td>
                                    <td>
                                        {{obj.date|date:"d/m/Y, h:i A"}}
                                    </td>
                                    <td>
                                        {% if obj.status %}
                                            {% if obj.status == 'active' %}
                                                <span class="badge badge-success-lighten">Active</span>
                                            {% elif obj.status == 'finished' %}
                                                <span class="badge badge-danger-lighten">Finished</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if obj.status == 'active' %}
                                            <button type="button" class="btn btn-link" onclick="task_link('{{obj.id}}', '{{obj.status}}')"> Link </button>
                                            <button type="button" class="btn btn-danger" onclick="finish_task('{{obj.id}}');"> Finish </button>
                                        {% endif %}                                    
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->


{% endblock content %}
{% block extrascripts %}
<!-- third party js -->
<script src="{% static 'vendor/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'vendor/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendor/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'vendor/js/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/js/dataTables.checkboxes.min.js' %}"></script>
<!-- Timepicker -->

<script src="{% static 'schedules/teacher-task.js' %}" defer></script>

{% endblock extrascripts %}