{% extends 'auth/base.html' %}

{% block title %}
change password
{% endblock title %}

{% block content %}

    <!-- title-->
    <h4 class="mt-0">Change password</h4>
    <p class="text-muted mb-4">Please enter your old password for security, and then enter the new password twice to verify that you have entered it correctly.</p>


    <form action="" method="post">
    {% csrf_token %}

        <div class="mb-3">
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Old password"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="New password confirmation"></p>
        </div>

        <div class="d-grid mb-0 text-center">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-lock-reset"></i> Change password </button>
        </div>
        
    </form>
    
{% endblock content %}

