{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit
{% endblock title %}

{% block page_title %}
Edit Profile
{% endblock page_title %}

{% block content %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">

                <div class="tab-pane active" id="settings">
                    <form action="" id="upload-form" method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-account-circle me-1"></i> Personal Info</h5>
                        <div class="row">
                            <div class="mb-3">
                            <div class="avatar-lg">
                                <img src="{{qs_profile.avatar.url}}" alt="" class="rounded-circle img-thumbnail">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                        <label class="form-label">Choose Image</label>
                                        {{form.avatar}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="firstname" class="form-label">First Name</label>
                                    {% comment %} <input type="text" class="form-control" id="firstname" placeholder="Enter first name" value="{{qs_profile.user.first_name}}"> {% endcomment %}
                                    {{user_form.first_name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    {{user_form.last_name}}
                                    {% comment %} <input type="text" class="form-control" id="lastname" placeholder="Enter last name" value="{{qs_profile.user.last_name}}"> {% endcomment %}
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="phonenumber" class="form-label">Phone Number</label>
                                    {{form.phone_number}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="country" class="form-label">Country</label>
                                    {{form.country}}
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="useremail" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" id="useremail" placeholder="Enter email" value="{{qs_profile.user.email}}" readonly>
                                    <span class="form-text text-muted"><small>If you want to change email please <a href="{% url 'profiles:email' %}">click</a> here.</small></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="userpassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="userpassword" readonly>
                                    <span class="form-text text-muted" ><small>If you want to change password please <a href="{% url 'accounts:password-change-view' %}">click</a> here.</small></span>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div id="alert-box"></div>
                        <div id="image-box"></div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mt-2" id="update_profile"><i class="mdi mdi-content-save"></i> Save</button>
                        </div>
                    </form>
                </div>
                <!-- end settings content-->

            </div> <!-- end tab-content -->
        </div> <!-- end card body -->
    </div> <!-- end card -->
</div>
{% endblock content %}


