{% extends 'auth/base.html' %}

{% block title %}
new password
{% endblock title %}

{% block content %}

    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            <!-- title-->
            <h4 class="mt-0">New password</h4>
            <p class="text-muted mb-4">Please enter your new password twice to verify that you have entered it correctly.</p>

            <div class="mb-3"> 
                {{form.new_password1.errors}}
                <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Enter the new password"></p>
                {{form.new_password2.errors}}
                <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat the new password"></p>
            </div>

            <div class="d-grid mb-0 text-center">
                <button class="btn btn-primary" type="submit"><i class="mdi mdi-lock-reset"></i> New password </button>
            </div>
        </form>
    {% else %}

        <!-- title-->
        <h4 class="mt-0">Password reset failed</h4>
        <p class="text-muted mb-4">The password reset link was invalid, probably because it has been used before. Please request a new password reset <a href="{% url 'accounts:password-reset-view' %}">here</a>.</p>
    {% endif %}       
    
{% endblock content %}
